* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
header {
  text-align: center;
  padding: 2vw 0 6vw 0;
  font-size: 6vw;
  font-weight: bold;
  color: #354463;
  background-color: #ffffff;
}
section {
  display: flex;
  justify-content: center;
  background-image: url("/home/mausam/Desktop/webpage/src/css/assets/donation/annie-spratt-427340-unsplash.png");
  background-size: cover;
}
#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-info {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #354463;
  color: white;
  border: black solid 1px;
  padding-top: 6vw;
}
form {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #354463;
  color: white;
}
@font-face {
  font-family: 'flood';
  src: url("/home/mausam/Desktop/webpage/src/css/assets/image/Flood.ttf");
  line-height: 5vw;
}
#hope {
  font-family: 'flood';
  line-height: 5vw;
  font-size: 8vw;
  margin-bottom: 6vw;
  width: 80%;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
}
#information_body {
  display: flex;
  flex-direction: column;
}
#information_body h3 {
  margin-bottom: 4vw;
  font-size: 5vw;
}
.sub-container-info {
  display: flex;
}
.personal_info {
  font-size: 3.2vw;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  margin-bottom: 5vw;
}
.box-1 {
  margin-right: 3vw;
}
label {
  margin-bottom: 2vw;
}
input {
  width: 31vw;
  height: 6vw;
  background-color: #354463;
  border: none;
  border-bottom: 0.5vw solid #c1f7d5;
  color: white;
}
#state {
  width: 12vw;
  height: 6vw;
  background-color: #354463;
  border: none;
  border-bottom: 0.5vw solid #c1f7d5;
  color: #c1f7d5;
}
.street_and_card_and_email {
  width: 98.5%;
}
#zip {
  width: 16vw;
}
#payment {
  font-size: 6vw;
  margin: 8vw 0 4vw 0;
}
#expiration_input {
  display: flex;
  margin-right: 5vw;
}
#expiration_input input {
  width: 13vw;
}
.security input {
  width: 15vw;
}
#donation {
  margin-top: 6vw;
  font-size: 4vw;
}
#process-payment {
  width: 50vw;
  border-radius: 25vw;
  margin: 7vw 0 7vw 0;
  padding: 3vw 0vw 3vw 0vw;
  text-decoration: none;
  color: #354463;
  font-size: 4vw;
  font-weight: bold;
  background-color: #c1f7d5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#back {
  color: #c1f7d5;
  margin-bottom: 10vw;
}

/* for laptops */

@media only screen and (min-width: 1024px) {
  header {
    padding: 2vw 0 2vw 0;
    font-size: 2vw;
  }
  #hope {
    font-size: 5.5vw;
    font-weight: lighter;
    text-align: left;
  }
  #form {
    width: 70%;
    padding-top: 6vw;
    padding-bottom: 4vw;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  form {
    width: 80%;
  }
  #container-info {
    width: 100%;
    margin-right: 6vw;
    padding: 0;
  }
  #information_body {
    align-items: center;
  }
  #information_body h3 {
    margin-bottom: 2vw;
    margin-top: 4vw;
    font-size: 2.5vw;
    align-self: flex-start;
  }
  .personal_info {
    font-size: 1.2vw;
    margin-bottom: 3.5vw;
  }
  input {
    width: 14vw;
    border-bottom: 0.1vw solid #c1f7d5;
    height: 3vw;
    font-size: 1.2vw;
  }
  label {
    margin-bottom: 0vw;
  }
  .street_and_card_and_email {
    width: 31vw;
  }
  #state {
    width: 3vw;
    height: 3vw;
    border-bottom: 0.1vw solid #c1f7d5;
    font-size: 1.2vw;
  }
  #zip {
    width: 4vw;
  }
  .expiry {
    align-self: flex-start;
  }
  #expiration_input input {
    width: 4.5vw;
  }
  .security input {
    width: 5vw;
  }
  #payment {
    font-size: 2vw;
    margin: 2vw 0 3vw 0;
    align-self: flex-start;
  }
  #information_body #donation {
    font-size: 1.8vw;
    margin-top: 2vw;
  }
  #process-payment {
    width: 15vw;
    border-radius: 5vw;
    padding: 1vw 0vw 1vw 0vw;
    font-size: 1.2vw;
    align-self: flex-end;
    margin: 2vw 0 2vw 0;
  }
  #back {
    margin: 0;
    font-size: 1.5vw;
    position: relative;
    bottom: 4.5vw;
    align-self: flex-start;
  }
}

/* for tablet */
@media only screen and (max-width: 1023px) and (min-width: 601px) {
  .personal_info {
    font-size: 3.3vw;
  }
  #information_body h3 {
    margin-bottom: 4vw;
    font-size: 6vw;
  }
  #process-payment {
    width: 30vw;
    border-radius: 5vw;
    font-size: 3vw;
    align-self: flex-end;
  }
  #back {
    margin: 0;
    font-size: 4vw;
    position: relative;
    bottom: 14vw;
  }
  input {
    font-size: 4vw;
  }
  #state {
    font-size: 4vw;
  }
  #information_body #donation {
    font-size: 3.85vw;
  }
}


