@font-face{
    font-family: 'flood';
    src: url('/home/mausam/Desktop/webpage/src/css/assets/image/Flood.ttf');
    line-height: 5vw;
  }
  /*Section Part*/
  .did-you-know{
    background-image: url('/home/mausam/Desktop/webpage/src/css/assets/image/did-you-know-background@3x.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 80vw;
    width: 100vw;
    display:flex;
    justify-content:space-around;
    align-items: center;
  }
/*Quotes Part*/
  .did-you-know-hash-tag p{
    font-size: 4vw;
    font-family: 'flood';
    line-height: 5vw;
    color: white;
  }
/*Main Block*/
  .did-you-know-content{
    display:flex;
    flex-direction: column;
   height:55vw;
   width:35vw;
   justify-content: space-around;
   color: #354463;
  }
  /*Block Item*/
  .did-you-know-con-item{
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  }
  .did-you-know-con-text{
    font-size: 1.4vw;
  }
  .did-you-know-social-icon{
    display: flex;
   flex-direction: column;
  }
  .did-you-know-social-icon img{
    background-color: #C1F7D5;
    border-radius: 50%;
    padding:1vw;
  }
  .did-y-n-tag{
    position: relative;
  }
  
  .did-y-n-tag .did-tag {
    position: absolute;
    font-size:1vw;
    background-color:#354463;
    color: white;
    padding: 0.5vw;
    top:-2.1vw;
    left: 1.8vw;
  }
  /*TAKE ACTION*/
  .did-you-know-hash-tag button{
    margin-top: 4vw;
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 3vw;
    background-color: #C1F7D5;
    color: #354463;
  }

/* TABLET VIEW */

  @media only screen and (max-width: 1023px) and (min-width: 601px) {
  .did-you-know {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:120vw;
  width: 105vw;
  align-items: center;
}
.did-you-know-hash-tag p{
  font-size: 6vw;
  line-height: 6vw;
}
.did-you-know-content{
  height:70vw;
  width:50vw;
}
.did-you-know-con-text{
  font-size: 2vw;
}
.did-y-n-tag .did-tag {
  font-size: 1.5vw;
  top:-2.9vw;
}
.did-you-know-hash-tag button{
  font-size: 2vw;
  margin-bottom: 7vw;
  margin-left:8vw;
}
.did-you-know-social-icon img{
  padding:2vw;
}
  }
/*  MOBILE VIEW  */
@media only screen and (max-width: 600px) {
  .did-you-know {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:205vw;
    width: 105vw;
    align-items: center;
  }
  .did-you-know-hash-tag p{
    font-size: 10vw;
    line-height: 9vw;
  }
  .did-you-know-content{
    height:120vw;
    width:70vw;
  }
  .did-you-know-con-text{
    font-size: 3.2vw;
  }
  .did-y-n-tag .did-tag {
    font-size: 3vw;
    top:-5.4vw;
  }
  .did-you-know-hash-tag button{
    font-size: 4vw;
    margin-bottom: 7vw;
    margin-left:14vw;
  }
  .did-you-know-social-icon img{
    padding:2vw;
  }
}